@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

.banner {
    height: 100vh;
    /* Aqui estou definindo que a section vai ter 1100 vh de altura */
    background-image: url('/img/coluna1.jpeg');
    /* background-image: url('https://i.pinimg.com/originals/db/cf/75/dbcf75c4077af50d9ac5691987fdee34.jpg'); */
    background-position: center center;
    background-size: cover;
    text-align: center;
    display: grid;
    align-content: center;
    justify-items: center;
    color: white;       
    gap: 20px;
}

.banner header {
    position: absolute;
    top: 20px;
    left: 20px;
}

.banner span {
    color: rgb(0, 157, 255);
}

p {
    line-height: 1.6;
}

.banner p {
    width: 60%;
}

button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: .3s;
}

button:hover {
    transform: scale(1.1);
    }   

.button-greenn {
    background-color: rgb(35, 119, 9);
    color: white;
}

.button-white {
    background-color: white;
    color: rgb(35, 119, 9);
}

.card, .cards {
    padding: 60px 80px;
}

.card {
    display:flex;
    gap:25px;
    align-items: center;
    text-align:justify;
}

.icon {
    border-radius: 100%;
    width: 350px;
    height: 350px;
}

.card p, .cards p {
    color:grey;
}

.card p {
    margin: 15px 0px;
    text-align: justify;
}

.card-greenn {
    background-color: rgb(35, 119, 9);
    color:white;
    flex-direction: row-reverse;
}

.card-greenn p{
    color: white;
}

.card-greenn img {
    border: 2px solid white;
    padding: 10px;
}

img {
    transition: 1.0s;   
}

img:hover {
    transform: rotate(360deg);
}

.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);   
    gap: 35px;
}

.cards article {
    display: grid;
    justify-items: center;
    gap: 25px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 15px;
}

footer span {
    font-weight: 900;
}

.social-icons {
    display: flex;
    gap: 15px;
    font-size: 30px;
    margin-bottom: 15px;
}

.social-icons a {
    color:black;
    cursor: pointer;
}