* {
    color:white;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.fundo1, .form-body {
    background: rgb(130,147,186);
    background: linear-gradient(90deg, rgba(130,147,186,1) 0%, rgba(167,224,232,1) 100%);
    height: 100vh;
  
}

.fundo2, .form-body {
    background-color: #9695c7;
    display: grid;
    justify-items: center;
    align-items: center;
}

.logo {
    height: 100px;
    width: 100px;
    padding-left: 20px;
}

.banner1 {
    display: flex;
    justify-content: center;
}

.banner1 .computador {
    width: 400px;
    height: 400px;
}

.banner1 h1 {
    font-size: 50px;
    font-weight: 900;
}

.banner1 h2 {
    font-size: 30px;
    font-weight: 400;
}

.fundo2 h2 {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding: 100px;
}

.centro {
    display: grid;
    align-content: center;
    justify-content: center;
}

footer {
    font-weight: 600;
    color:black;
    text-align: center;
    padding: 10px;
}

/* .banner2 {
    display:grid;
    grid-template-rows: 3;
} */

.banner2 {
    display: flex;
    gap: 50px;
    justify-items: center;
}

.square {
    width: 210px;
    height: 320px;
    background-color: white;
    padding: 25px;
    border-radius: 0 50px 0 50px;
    text-align: center;
    
}

.logo2 {
    height: 200px;
    width: 200px;
    justify-content: center;
    border-radius: 0 30px 0 0;
}

.square p {
    color: black;
    text-align: center;
}

.titulo {
    font-weight:900;
    padding: 10px 0;
}

button {
    margin: 100px;
    border-radius: 50px;
    background-color:rgba(33, 36, 59, 0.5);
    padding: 15px;
    border:none;
    font-size: 15px;
    cursor: pointer;
}

@media (max-width: 768px) {

    * {
        text-align: center;
    }

    .fundo1 {
        display: grid;
        justify-content: center;
    }

    .centro {
        text-align: center;
    }

    .logo {
        width: 150px;
        height: 150px;
        margin-bottom: 40px;
    }

    .banner1 {
        height: 70%;
        flex-direction: column;
    }

    .banner1 h1, .banner1 h2 {
        font-size: 180%;
    }

    .computador {
        margin-bottom: 50px;
    }
    
    .banner2 {
        flex-direction: column;
    }
}